<!DOCTYPE html>
<html>
<body>
<style>
    body {
      height: 3000px;
    }
    .dot {
      width: 2px;
      height: 2px;
      background-color: black;
      position: absolute;
    }

    canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 800px;
    height: 650px;
}
  </style>
  <div>
  	<center>
  	<button align-'center' onclick="start(event)" type="button">start</button>
  </center>
<canvas onmousemove="showCoords(event)" id="myCanvas" style="border:1px solid #000000;">

</canvas>
<center><button align-'center' onclick="end(event)" type="button">end</button></center>
</div>
<p align="center" id="demo"></p>
<p align="center" id="demo2"></p>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>	
	var x_a = [];
	var y_a = [];
	var recordMouse = false;

function start(event) {
	x_a = [];
	y_a = [];
	recordMouse = true;
}

function end(event) {
	//send info to frontend
	$.post( "/sendjs", {
		javascript_data_x: x_a.toString(),
		javascript_data_y: x_a.toString()
	});
	
	x_a = [];
	y_a = [];
	recordMouse = false;
	removeElementsByClass('dot')
}

function removeElementsByClass(className){
    var elements = document.getElementsByClassName(className);
    while(elements.length > 0){
        elements[0].parentNode.removeChild(elements[0]);
    }
}

function showCoords(event) {
	if (recordMouse == true) {
    var x = event.pageX;
    var y = event.pageY;
    var coords = "X coords: " + x + ", Y coords: " + y;
    document.getElementById("demo").innerHTML = coords;
    x_a.push(x);
    y_a.push(y);

    // Add a dot to follow the cursor
      dot = document.createElement('div');
      dot.className = "dot";
      dot.style.left = event.pageX + "px";
      dot.style.top = event.pageY + "px";
      document.body.appendChild(dot);
    x_a.toString()
    y_a.toString()
    document.getElementById("demo2").innerHTML = x_a;
}
}


</script>

</body>
</html>