<!DOCTYPE html>
<html>
<body>
<style>
    body {
      height: 3000px;
    }
    .dot {
      width: 2px;
      height: 2px;
      background-color: black;
      position: absolute;
    }

    svg {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 800px;
    height: 650px;
}
  </style>
  <div>
  	<center>
  	<button align-'center' onclick="start(event)" type="button">start</button>
  </center>
<!-- <canvas onmousemove="showCoords(event)" id="myCanvas" style="border:1px solid #000000;">

</canvas> -->
<center>
<svg onmousemove="showCoords(event)" style="border:1px solid #000000">
	  <circle style="display:block;" onclick="toggle_visibility('c2', 'c1')" id ='c1' cx="50" cy="50" r="40" stroke="greenyellow" stroke-width="3" fill="yellow" />
	  <circle style="display:none;" onclick="toggle_visibility('c3', 'c2')" id ='c2' cx="700" cy="200" r="40" stroke="greenyellow" stroke-width="3" fill="yellow" />
	  <circle style="display:none;" onclick="toggle_visibility('c4', 'c3')" id ='c3' cx="223" cy="500" r="40" stroke="greenyellow" stroke-width="3" fill="yellow" />
	  <circle style="display:none;" onclick="toggle_visibility('c5', 'c4')" id ='c4' cx="245" cy="240" r="40" stroke="greenyellow" stroke-width="3" fill="yellow" />
	  <circle style="display:none;" onclick="toggle_visibility('c6', 'c5')" id ='c5' cx="710" cy="100" r="40" stroke="greenyellow" stroke-width="3" fill="yellow" />
	  <circle style="display:none;" onclick="toggle_visibility('c7', 'c6')" id ='c6' cx="300" cy="150" r="40" stroke="greenyellow" stroke-width="3" fill="yellow" />
	  <circle style="display:none;" onclick="toggle_visibility('c8', 'c7')" id ='c7' cx="400" cy="450" r="40" stroke="greenyellow" stroke-width="3" fill="yellow" />
	  <circle style="display:none;" onclick="toggle_visibility('c9', 'c8')" id ='c8' cx="273" cy="240" r="40" stroke="greenyellow" stroke-width="3" fill="yellow" />
	  <circle style="display:none;" onclick="toggle_visibility('c10', 'c9')" id ='c9' cx="429" cy="145" r="40" stroke="greenyellow" stroke-width="3" fill="yellow" />
	  <circle style="display:none;" onclick="toggle_visibility('c10')" id ='c10' cx="400" cy="580" r="40" stroke="greenyellow" stroke-width="3" fill="yellow" />

</svg>

<center><button align-'center' onclick="end(event)" type="button">end</button></center>
</div>
<p align="center" id="demo"></p>
<p align="center" id="demo2"></p>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>	
	var x_a = [];
	var y_a = [];
	var recordMouse = false;

function toggle_visibility(id1, id2) {
           var e = document.getElementById(id1);
           if(e.style.display == 'block')
              e.style.display = 'none';
           else
              e.style.display = 'block';
           var e = document.getElementById(id2);
           if(e.style.display == 'block')
              e.style.display = 'none';
           else
              e.style.display = 'block';
        
        }
function reset_visibility() {
	var cirs = document.getElementsByTagName("circle");
	cirs[0].setAttribute("style", "display: block;");
	for (var i = 1; i < cirs.length; i++) {
		cirs[i].setAttribute("style", "display: none;");
	}
}
function start(event) {
	x_a = [];
	y_a = [];
	recordMouse = true;
}

function end(event) {
	//send info to frontend
	$.post( "/sendjs", {
		javascript_data_x: x_a.toString(),
		javascript_data_y: x_a.toString()
	});
	
	x_a = [];
	y_a = [];
	recordMouse = false;
	removeElementsByClass('dot')
	reset_visibility()
}

function removeElementsByClass(className){
    var elements = document.getElementsByClassName(className);
    while(elements.length > 0){
        elements[0].parentNode.removeChild(elements[0]);
    }
}

function showCoords(event) {
	if (recordMouse == true) {
    var x = event.pageX;
    var y = event.pageY;
    var coords = "X coords: " + x + ", Y coords: " + y;
    document.getElementById("demo").innerHTML = coords;
    x_a.push(x);
    y_a.push(y);

    // Add a dot to follow the cursor
      dot = document.createElement('div');
      dot.className = "dot";
      dot.style.left = event.pageX - 5 + "px";
      dot.style.top = event.pageY - 5 + "px";
      document.body.appendChild(dot);

    x_a.toString()
    y_a.toString()
    document.getElementById("demo2").innerHTML = x_a;
}
}


</script>

</body>
</html>